h2 {
    color: greenyellow;
    font-size: 24px;
    margin-bottom: 10px;
}

#gender {
    font-size: 18px;
    margin-bottom: 20px;
    color: blueviolet;
}

input[type="submit"] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    padding: 50px;
    border-radius: 50px;
    border: 2px solid black; 
}



